<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@@title | Блог Radik.Dev</title>
    @@include("parts/favicon-links.html")

    <link rel="stylesheet" href="@@pathPrefixCss" />
  </head>

  <body class="page-blog">
    @@include("components/header/header.html")

    <article class="blog-article">
      <div class="blog-article__container container">
        <div class="blog-article__layout">
          <div class="blog-article__main-content">
            <!-- 🔗 Исправленная ссылка возврата в блог -->
            <a
              href="@@pathPrefixblog/index.html"
              class="blog-article__back-link"
              >&larr; На главную</a
            >
            @@content
          </div>
          <div class="blog-article__sidebar">@@sidebar</div>
        </div>
      </div>
    </article>

    @@include("components/footer/footer.html")
    <script src="@@pathPrefixJsVendor"></script>
    <script src="@@pathPrefixJsApp" defer></script>
  </body>
</html>
