# =========================================================================
# 🚫 ИГНОРИРУЕМЫЕ РЕСУРСЫ (НЕ КЛАДЕМ В ВЕТКУ MAIN)
# =========================================================================

# Системные зависимости проекта (тяжелый мусор)
node_modules/

# 📦 СКОМПИЛИРОВАННЫЙ КОД (Игнорируем содержимое для main, но открываем для gh-pages!)
dist/*
!dist/.nojekyll
!dist/blog/
!dist/blog/**/*

# Временные файлы сквозного аудита системы и бэкапы
.audit/
archives/
.cache/
.tmp/

# Логи операционных систем и программ
*.log
.DS_Store
Thumbs.db

# Настройки локальных редакторов кода
.vscode/
.idea/
.env

