# =========================================================================
# 🚫 ИГНОРИРУЕМЫЕ РЕСУРСЫ (НЕ КЛАДЕМ В ВЕТКУ MAIN)
# =========================================================================

# Системные зависимости проекта (тяжелый мусор)
node_modules/

# 📦 СКОМПИЛИРОВАННЫЙ КОД (Скрываем от main целиком!)
dist/

# Временные файлы сквозного аудита системы и бэкапы
.audit/
archives/
.cache/
.tmp/
.gigacode/

# Логи операционных систем и программ
*.log
.DS_Store
Thumbs.db
.clinerules

# Настройки локальных редакторов кода
.vscode/
.idea/
.env
