{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": ["*.html", "*.json", "*.config", "*.xml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.js", "*.scss"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
