<!-- Используем правильный семантический тег <nav> для навигации -->
<nav class="menu">
  <!-- Внутренний БЭМ-оболочка (wrapper) вместо глобального container -->
  <div class="menu__body">
    <ul class="menu__list">
      <!-- 🔥 ИСПРАВЛЕНО: Ссылки ведут относительно текущей папки проекта /portfolio/ -->
      <li class="menu__item"><a href="./" class="menu__link">Главная</a></li>
      <li class="menu__item"><a href="./#projects" class="menu__link">Проекты</a></li>
      <li class="menu__item"><a href="./#about" class="menu__link">Обо мне</a></li>
      <li class="menu__item"><a href="blog/why-gulp-ts.html" class="menu__link">Блог</a></li>
    </ul>
  </div>
</nav>

<!-- Кнопка бургер-иконки лежит на одном уровне с nav внутри компонента -->
<button type="button" class="menu__icon menu-icon" aria-label="Открыть меню">
  <span></span>
</button>
