.menu {
  // МОБИЛЬНАЯ АДАПТАЦИЯ (Меньше 768px)
  @media (width <= 768px) {
    position: fixed;
    top: 0;
    left: -100%; // Прячем панель за левый край экрана
    overflow: auto;
    width: 100%;
    height: 100vh;
    padding: 120px 24px 30px;
    background-color: rgb(15 23 42 / 98%); // Полноэкранная темная подложка
    transition: left 0.3s ease;

    // Класс открытия, который будет вешать TypeScript
    &._active {
      left: 0;
    }

    &__list {
      flex-direction: column; // Ссылки встают в колонку на телефоне
      gap: 40px;
    }

    &__link {
      font-size: 24px;
      color: #f8fafc;
    }
  }

  &__list {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    color: #94a3b8;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #6366f1;
    }
  }
}

// СТИЛИ ИКОНКИ-БУРГЕРА (КРЕСTИК)
.menu-icon {
  @media (width <= 768px) {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;

    span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #f8fafc;
      transition: all 0.3s ease;
    }

    &::before {
      content: "";
      top: 0;
    }

    span {
      top: calc(50% - 1px);
    }

    &::after {
      content: "";
      bottom: 0;
    }

    // Трансформация в крестик при клике
    &._active {
      span {
        transform: scale(0);
      }

      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }

      &::after {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }

  display: none; // Скрыта на мониторах ПК
}
