<!-- Меняем семантический тег на aside, убираем внешний глобальный container -->
<aside class="blog-sidebar">
  <div class="blog-sidebar__body">
    
    <h3 class="blog-sidebar__title">Популярные статьи</h3>
    <ul class="blog-sidebar__list">
      <li class="blog-sidebar__item">
        <a href="./blog/why-gulp-ts.html" class="blog-sidebar__link">Почему Gulp + TypeScript — идеальный стек</a>
      </li>
      <li class="blog-sidebar__item">
        <a href="./blog/my-first-post.html" class="blog-sidebar__link">Мой первый пост в блоге</a>
      </li>
    </ul>

  </div>
</aside>
