// src/scss/base/_vars.scss

// Фирменная темная палитра сайта
$bg-dark: #0b0f19;       // Базовый цвет подложки, контактов и футера
$bg-deep-blue: #0f172a; // Цвет секций Hero и About Me
$bg-card: #1e293b;      // Цвет карточек проектов

// Акцентные градиенты и цвета
$color-accent: #6366f1; // Индиго
$color-purple: #a855f7; // Пурпурный
$color-text-muted: #94a3b8;
