@use '../base/vars' as v;

// 🔥 СТИЛИ СТРАНИЦЫ: Управляют только внешним фоном и шапкой контента
.blog-main {
  flex: 1 0 auto;
  padding: 60px 0;
  background-color: v.$bg-dark;
}

.blog-hero {
  padding-top: 40px;
  margin-bottom: 60px;
  text-align: center;

  &__title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
  }

  &__subtitle {
    font-size: 18px;
    color: v.$color-text-muted;
  }
}
