// Файл стилей для обнуления
@use './base/zero';

// ПОДКЛЮЧЕНИЕ КОНФИГУРАЦИИ И ПЕРЕМЕННЫХ
@use './base/vars' as v;

// КОМПОНЕНТЫ СТРУКТУРЫ САЙТА
@use '../components/header/header';
@use '../components/hero/hero';
@use '../components/projects-grid/projects-grid';
@use '../components/about-me/about-me';
@use '../components/main/main';
@use '../components/blog-article/blog-article';
@use '../components/footer/footer';
@use '../components/menu/menu';
@use '../components/blog-sidebar/blog-sidebar';
@use '../components/contacts/contacts';
@use '../components/blog-page/blog-page';
@use '../components/modal/modal' as modal;

// ФУНКЦИОНАЛЬНЫЕ JS/TS МОДУЛИ
@use '../js/modules/scroll-to-top/scroll-to-top' as *;
@import "base/fonts";

body {
   font-family: v.$font-main;
  user-select: none;
  background-color: v.$bg-dark;
}

// ГЛOБАЛЬНАЯ СЕТКА И КОНТЕЙНЕРЫ
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
